body{
    background-color: #313131;
}

.navbar{
    background-color: #000000;
}

.text-primary{
	color: #ffffff !important;
}

.container-fluid{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;
}

#events{
	border: 2px solid white;
	border-radius: 20px;
	padding: 0 0 0 0;
	text-align: center;
}

#events-title{
	border-bottom: 2px solid white;
	border-radius: 20px;
	padding-bottom: 10px;
}

.store-item{
	background-color: #606060;
	border-radius: 20px;
	display: flex;
	padding: 0 0 0 0;
	margin-bottom: 3%;
}

.store-item-preview{
	width:100%;
	display: flex;
	border-radius: 20px;
}

.store-item-title{
	padding: 1% 0 0 2%;
	width: auto;
	text-align: center;
	margin: auto;
}

.store-item-print{
	background-color: #696969;
	border-radius: 10px;
	width: auto;
}

.store-item-print-option{
	border-radius: 10px;
	background-color: #787878;
	text-align: center;
	padding: 2% 2% 2% 2%;
	margin: 0 0 1% 1%;
}

.store-selected-title{
	text-align: center;
}

.store-item-width{
	width: 100%;
}

.jumbotron{
    background-color: rgba(61, 61, 61,0.5) !important;
    text-align:center;
	height:300px !important;
    background-image: url("../img/bannerimage.jpg");
    background-size: cover;
}

.jumbotron:after {
    content:"";
    display:block;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
}


.jumbotron-heading{
	color: #d3d3d3;
}

.text-muted{
	color: #d3d3d3 !important;
}

.card{
	background-color: #d3d3d3;
}

.card-body{
	background-color: #3e3e3e;
}

.card-text{
	color: #d3d3d3;
}

.card-text:hover{
	text-decoration: none;
	color: #ededed;
}

.btn-outline-secondary{
	color: #888888;
	background-color: #3e3e3e;
}

.card-footer {
	background-color: #484848 !important;
}

.card-title{
	color: #ffffff;
}

.page-link{
	background-color: #d3d3d3;
	color: black;
}

.index-page{
	padding-top: 2%;
}
.card-store{
	width: auto;
}

.card-store-image{
	width: 50% !important;
	height: 100% !important;
}

.card-store-img-cart{
	width:100% !important;
	height:auto !important;
}

.container-store{
	padding-left:0;
	padding-right:0;
}

.container-store-main{
	padding-top: 2%;
}

.btn-store{
	width:100%;
	background-color: #797979;
}

.btn-store-option{
	padding: 2% 2% 2% 2%;
	width: auto;
	margin: 1%;
}

.row-store{
	margin-bottom: 1%;
}

.card-img-event-overview{
	width: 30% !important;
	margin: auto;
	padding-bottom: 1%;
	height: auto !important;
}

.card-img-portfolio{
	width: 100% !important;
	height: 100% !important;
	transition: transform .2s;
	margin: 0 auto;
}

h1, p{
	color: white;
}

video{
	max-width: 100%;
	max-height: fit-content;
}

h2{
	color: white;
	padding-top: 10px;
}

.events-page{
	padding-top: 20px;
	padding-bottom: 20px;
}

.events-list{
	padding-bottom: 20px;
	padding-top: 10px;
}

.checkout{
	margin-left: auto;
	margin-right: auto;
	size: 500%;
}

/*Possible Development
.card-img-portfolio:hover{
	-ms-transform: scale(1.5); 
	-webkit-transform: scale(1.5); 
	transform: scale(1.5);
}*/



.shopping-cart{
	float:right;
	height: 100% !important;
}

.store-listings{
	float: left;
}

.divider{
    width:2%;
    height:auto;
    display:inline-block;
}

.line-break{
	background-color: #ffffff;
}

.shop-item {
    max-width: 31% !important;

}


/*
Created By Nathan, Shannon, & Eryk
Commenting and indentation done by Nathan
Created with the help of Bootstrap

Lead code - Nathan
Lead artifacts - Shannon
Lead 

2020 Prism Photography

*/
