body{
    background-color: #313131;
}

.navbar{
    background-color: #000000;
}

.text-primary{
	color: #ffffff !important;
}

.container-fluid{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;
}

#events{
	border: 2px solid white;
	border-radius: 20px;
	padding: 0 0 0 0;
	text-align: center;
}

#events-title{
	border-bottom: 2px solid white;
	border-radius: 20px;
	padding-bottom: 10px;
}

.store-item{
	background-color: #606060;
	border-radius: 20px;
	display: flex;
	padding: 0 0 0 0;
	margin-bottom: 3%;
}

.store-item-preview{
	width:100%;
	display: flex;
	border-radius: 20px;
}

.store-item-title{
	padding: 1% 0 0 2%;
	width: auto;
	text-align: center;
	margin: auto;
}

.store-item-print{
	background-color: #696969;
	border-radius: 10px;
	width: auto;
}

.store-item-print-option{
	border-radius: 10px;
	background-color: #787878;
	text-align: center;
	padding: 2% 2% 2% 2%;
	margin: 0 0 1% 1%;
}

.store-selected-title{
	text-align: center;
}

.store-item-width{
	width: 100%;
}

.jumbotron{
    background-color: #3e3e3e !important;
    text-align:center;
	height:300px !important;
}

.jumbotron-heading{
	color: #d3d3d3;
}

.text-muted{
	color: #d3d3d3 !important;
}

.card{
	background-color: #d3d3d3;
}

.card-body{
	background-color: #3e3e3e;
}

.card-text{
	color: #d3d3d3;
}

.card-text:hover{
	text-decoration: none;
	color: #ededed;
}

.btn-outline-secondary{
	color: #888888;
	background-color: #3e3e3e;
}

.card-footer {
	background-color: #484848 !important;
}

.card-title{
	color: #ffffff;
}

.page-link{
	background-color: #d3d3d3;
	color: black;
}

.index-page{
	padding-top: 2%;
}
.card-store{
	width: auto;
}

.card-store-image{
	width: 50% !important;
	height: 100% !important;
}

.card-store-img-cart{
	width:100% !important;
	height:auto !important;
}

.container-store{
	padding-left:0;
	padding-right:0;
}

.container-store-main{
	padding-top: 2%;
}

.btn-store{
	width:100%;
	background-color: #797979;
}

.btn-store-option{
	padding: 2% 2% 2% 2%;
	width: auto;
	margin: 1%;
}

.row-store{
	margin-bottom: 1%;
}

.card-img-event-overview{
	width: 30% !important;
	margin: auto;
	padding-bottom: 1%;
	height: auto !important;
}

.card-img-portfolio{
	width: 100% !important;
	height: 100% !important;
	transition: transform .2s;
	margin: 0 auto;
}

h1, p{
	color: white;
}

video{
	max-width: 100%;
	max-height: fit-content;
}

h2{
	color: white;
	padding-top: 10px;
}

.events-page{
	padding-top: 20px;
	padding-bottom: 20px;
}

.events-list{
	padding-bottom: 20px;
	padding-top: 10px;
}

.checkout{
	margin-left: auto;
	margin-right: auto;
	size: 500%;
}

/*Possible Development
.card-img-portfolio:hover{
	-ms-transform: scale(1.5); 
	-webkit-transform: scale(1.5); 
	transform: scale(1.5);
}*/


:active, :focus {
	outline-style: none;
}
#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;
	background: url(../images/logo.gif) no-repeat 0 50%;
	color: rgb(99, 99, 99);
	
}

.tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

body#checkout-page #site-info {
	position: static;
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
},

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: rgb(138, 138, 138);
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: #fafafa;
	font-weight: bold;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: red;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}






/*
Created By Nathan, Shannon, & Eryk
Commenting and indentation done by Nathan
Created with the help of Bootstrap

Lead code - Nathan
Lead artifacts - Shannon
Lead 

2020 Prism Photography

*/
